# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!deps/macos/HardwareAPI.0.2.8.macos/libHaply.HardwareAPI.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
build/*
